<h1>Admission Tickets</h1>

<p><b>New York State residents and NY, NJ, CT students, the amount you pay is up to you.</b>
  <br>
Suggested Admission: For New York State residents and New York, New Jersey and Connecticut students, the amount you pay is up to you. These tickets may be purchased at a Museum admissions desk with a valid ID. Suggested admission tickets include exhibitions as well as same-day entry to all three Met locations.</p>
<br>
<p><b>General Admission</b>
  <br>
General admission is $25 for adults; $17 for seniors; $12 for students; and free for Members, Patrons, and children under 12. General admission tickets include exhibitions and are valid for three consecutive days at The Met Fifth Avenue, The Met Breuer, and The Met Cloisters.</p>
<div class="buy-tickets">

</div>
<div class="total">

</div>
<h3>Members Count</h3>
<h3>Guest Pass</h3>
