<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=''>THEMET</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="">Visit</a></li>
      <li><a routerLink="">Exhibitions</a></li>
      <li><a routerLink="">Events</a></li>
      <li><a routerLink="">Art</a></li>
      <li><a routerLink="">Learn</a></li>
      <li><a routerLink="">Join and Give</a></li>
      <li><a routerLink="">Shop</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{ title }}</h1>
  <!-- <router-outlet></router-outlet> -->
</div>


<!-- search bar here-->
