<header _ngcontent-c0="" class="main-menu" id="top">
	<div _ngcontent-c0="" class="content-wrapper content-wrapper--no-margin">
		<div _ngcontent-c0="" class="main-nav">
			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<ul class="nav-main">
						<a class="navbar-brand" routerLink=''>THEMET</a>

						<li class="nav-main-item">
							<div class="dropdown">
								<button class="dropbtn">Visit</button>
								<div class="dropdown-content">
									<a routerLink="tickets">Buy Tickets</a>
									<a routerLink="">The Met Fifth Avenue</a>
									<a routerLink="">The Met Breuer</a>
									<a routerLink="">The Met Cloisters</a>
									<a routerLink="">Museum Map</a>
									<a routerLink="">Dining at The Met</a>
									<a routerLink="">Audio Guide</a>
									<a routerLink="">group Visits</a>
								</div>
							</div>
						</li>

						<li class="nav-main-item">
							<div class="dropdown">
								<button class="dropbtn">Exhibitions</button>
								<div class="dropdown-content">
									<a routerLink="exhibitionC">Current Exhibitions</a>
									<a routerLink="">Upcoming Exhibitions</a>
									<a routerLink="">Past Exhibitions</a>
								</div>
							</div>

						</li>
						<li class="nav-main-item">
							<div class="dropdown">
								<button class="dropbtn">Events</button>
								<div class="dropdown-content">
									<a routerLink="events">Find Events</a>
									<a routerLink="">Ongoing Programs</a>
								</div>
							</div>
						</li>
						<li class="nav-main-item">
							<div class="dropdown">
								<button class="dropbtn">Art</button>
								<div class="dropdown-content">
									<a routerLink="collection">The Met Collection</a>
									<a routerLink="">Timeline of Art History</a>
									<a routerLink="">Online Features</a>
									<a routerLink="">MetPublications</a>
									<a routerLink="">Libraries and Research Centers</a>
								</div>
							</div>
						</li>
						<li class="nav-main-item">
							<div class="dropdown">
								<button class="dropbtn">Learn</button>
								<div class="dropdown-content">
									<a routerLink="">Kids and Families</a>
									<a routerLink="">Teens</a>
									<a routerLink="">Adults</a>
									<a routerLink="learnUSF">University Students and Faculty</a>
									<a routerLink="">Educators</a>
									<a routerLink="">Visitors with Disabilities</a>
								</div>
							</div>
						</li>
						<li class="nav-main-item">
							<div class="dropdown">
								<button class="dropbtn">Join and Give</button>
								<div class="dropdown-content">
									<a routerLink="membership">Membership</a>
									<a routerLink="">Support the Met</a>
									<a routerLink="">Host an Event</a>
									<a routerLink="">Corporate Support</a>
									<a routerLink="">Travel with The Met</a>
									<a routerLink="">Volunteer</a>
								</div>
							</div>
						</li>
						<li class="nav-main-item">
							<a routerLink="shop">Shop</a>
						</li>
					</ul>
				</div>
			</nav>

		</div>
	</div>
</header>




<div class="container">
	<router-outlet></router-outlet>
</div>

<footer>
	<ul class="footer-nav">
		<li>About The Met </li>
		<li>Blogs</li>
		<li>Videos</li>
		<li>Press</li>
	</ul>


</footer>


<!-- search bar here-->
