/* body {
    color: #000006;
    font-family: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}

.main-menu[_ngcontent-c0] {
    background-color: #e4002b;
    margin-bottom: 40px;
    position: relative;
    z-index: 9999;
}

.nav-main {
   background-color: #e4002b;
   border-top: 1px solid #fff;
   display: block;
   text-align: left;
   z-index: 10;
}

.nav-main-item {
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    width: 100%;
    z-index: 999;
    line-height: 1;
    margin-bottom: 0;
}

.nav-main a {
    font-family: "MetSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}

.nav-toggle {
    float: right;
    margin: 7px 22px 0 0;
    margin: .4375rem 1.375rem 0 0;
    position: relative;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    width: 1.25rem;
  }

 .nav-toggle::before {
    height: 20px;
    height: 1.25rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    width: 2px;
    width: .125rem;
}

.nav-toggle::after {
    height: 2px;
    height: .125rem;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    width: 1.25rem;
} */

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
