
<div class="container main">
  <div class="panel-body">
    <h1>The Met Collection</h1>
    <p>When The Met was founded in 1870, it owned not a single work of art. Through the combined efforts of generations of curators, researchers, and collectors, our collection has grown to represent more than 5,000 years of art from across the
      globe—from the first cities of the ancient world to the works of our time.</p>
  </div>

  <h2>A First Look</h2>

  <div class="panel-body">
    <img src="assets/img/collhiglight.jpg" alt="hippo">
    <p>Collection Highlights</p>
    <p>Browse collection highlights selected by curators from the Museum's seventeen curatorial departments.</p>
  </div>

  <div class="panel-body">
    <img src="assets/img/open-access_asian.jpg" alt="asian print">
    <a routerLink="open-access">Open Access Artworks</a>
    <p>Enjoy more than 406,000 hi-res images of public-domain works from the collection, all of which can be downloaded, shared, and remixed without restriction.</p>
  </div>

  <div class="panel-body">
    <img src="assets/img/modern-and-contemporary.jpg" alt="contemporary art">
    <p>Modern and Contemporary Art at The Met</p>
    <p>View the Department of Modern and Contemporary Art's rich holdings—more than 12,000 works of art across a broad range of media from 1900 to the present.</p>
  </div>
</div>
