<img src="https://www.metmuseum.org/-/media/images/learn/college-students-and-faculty/learn_univeristy-students-and-faculty_xl-marquee.jpg?as=1&mh=1880&mw=4640&hash=A212DA7A29B0E6F27496455BEBBDECA946A7D8EA" alt="">

<h1>University Students and Faculty</h1>
<p>Join an active community of students and scholars across all academic disciplines through internships and fellowships. Extend your learning and teaching beyond the classroom and into our galleries and deepen your research in the Museum's study centers. Take time off to socialize and learn more about The Met at our events!</p>
